<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>webshop</display-name>
  <context-param>
    <description>Mapping fuer accept in einem Webbrowser</description>
    <param-name>resteasy.media.type.mappings</param-name>
    <param-value>json : application/json, xml : application/xml, image : image/*, text : text/plain</param-value>
  </context-param>
  <env-entry>
  	<env-entry-name>absenderMail</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>MegaShopTeam@hs-karlsruhe.de</env-entry-value>
  </env-entry>
  <env-entry>
  	<env-entry-name>absenderName</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>Mega Shop Team</env-entry-value>
  </env-entry>
  <env-entry>
  	<env-entry-name>locales</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>de,en</env-entry-value>
  </env-entry>
</web-app>
